.container_card{
  display: flex;
  align-items: center;
}

.card-title{
  text-align:justify;
}

.card-img{
  display: flex;
  margin-right: 1rem;
  min-width: 15rem;
  max-width: 15rem;
}
.card-img > img{
  width: 100%;
}