<div class="container_main-card">
  <div class="img_main-card">
    <img 
      src="../../../assets/enfermeira-negra-em-seu-espaco-de-trabalho.jpg"
      />
  </div>
  <div class="title_main-card">
    <h1>Saiu nova versão do angular</h1>
  </div>
  <div class="description_main-card">
    fdsssss ssssssss gdfhgjsg mmaaefr aer
    dfhgdjhjrg k jkhjhlgklhkghk klgglkkl klkglj
    ghhhgfg hgfhfgh. gdfghgjdfdhhdfghgf.fdfd fsdfsfd
    fdsssss sssssssssgdf gjsgrm aaefrm er
    dfhgdjh  kkjkhjhlgklhkghk lgglkklgkl glj
    ghhhgfgfh  hfgh. gdfghgjdf hhdfg gf.
  </div>
</div>