<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container_articles">
  <div class="main-article">
    <app-main-card 
      thumb="../../../assets/3d-renderizacao-loft-sala-de-estar-escandinava-com-mesa-de-trabalho-e-estante.jpg"
      cardTitle="30 Dicas para a harmonia da sua sala de estar"
      cardDescription="Criar harmonia em uma sala de estar envolve uma série de elementos que se combinam
       de forma equilibrada. Comece escolhendo uma paleta de cores que transmita calma e unidade. Distribua 
       os móveis de maneira harmoniosa, misturando peças grandes e pequenas para criar uma sensação de proporção."
    />
  </div>
  <div class="other-articles">
    <app-card 
      thumb="../../../assets/conceito-de-midia-social-com-smartphone.jpg"
      cardTitle="Aplicativos que nos alimentam com conteúdo filtrado por algorítmos."
    />
    <hr>
    <app-card 
      thumb="../../../assets/enfermeira-negra-em-seu-espaco-de-trabalho.jpg"
      cardTitle="Enfermeiros conseguem justo piso salarial após meses de reinvidicação"
    />
    <hr>
    <app-card 
      thumb="../../../assets/still-life-with-scales-justice.jpg"
      cardTitle="Sistema judiciário aponta irregularidades com os símbolos do sistema judiciário."
    />
  </div>
</div>