header{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.container_articles{
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

.main-article{
  margin: 1rem;
}

.other-articles {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 100%;
}

.other-articles > hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}